.tabs {
    display: flex;
}
.tab-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
}
.tab-content {
    display: none;
}

.tabs-container{
    border-bottom: 2px solid #71b5ffb4;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
}

.container {
    margin-top: 1rem;
}

.custom-file-label {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 5px;
    color: #333;
    font-size: 14px;
}

.custom-file-label input[type="file"] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

/* Style for the file input button */
.btn-default {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-button {
    background-color: #cf4646;
    color: #fff;
    border: none;
    margin-left: 0.5rem;
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for the file input label */
.custom-file-label:hover {
    background-color: #ddd;
}

.input-file {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center elements vertically */
    column-gap: 1rem;
}

.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    /* Position the loader to the right of the button */
    margin-left: 10px; /* Adjust the distance as needed */
    display: none; /* Initially hide the loader */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.parameters-container{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin-top: 1rem;
    padding: 0.2rem;
}

#column-dropdown{
    min-width: 10rem;
    max-height: 2.2rem;
    border-radius: 0.5rem;
    border: 1px solid #003064;
}

#data-dropdown{
    border-radius: 0.5rem;
    min-width: 15rem;
    height: 2.5rem;
    border: 1px solid #003064;
}

div h3{
    margin-top: 1rem;
}

.logging-data-container{
    background-color: #f1f1f1;
    margin-top: 1rem;
    border: 1px solid rgb(208, 208, 208);
    min-height: 5rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

li {
    margin-top: 1rem;
}

.plot-command{
    margin-top: 1rem;
}

.plot-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 2rem;
}

.svg-container {
    flex: 0 0 70%; 
}

.sliders-container {
    flex: 0 0 25%;
}

#plot-btn{
    width: 100%;
    font-size: 1.5rem;
}

h3{
    font-size: 22px;
}

.major-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0 2rem 0 2rem;
}

.feature-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-input{
    width: 100%;
    line-height: 4rem;
}

.text-input{
    display: flex;
    text-align: center;
    width: 4rem;
}

#data-selection{
    display: flex;
    gap: 4rem;
    align-items: center;
}

#addWeightsContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
}